@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-gray-950 text-gray-50 min-h-screen pb-7;
  }
}

@layer utilities {
  .h1-semibold {
    @apply lg:text-3xl sm:text-lg font-semibold;
  }

  .violet-gradient-line {
    background: #804dee;
    background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%
    );
  }

  .violet-gradient {
    @apply bg-gradient-to-r from-purple-800 via-purple-700 to-purple-600;
  }
  .header {
    @apply w-full sticky z-10 top-0 left-0 bg-gray-900 px-16 opacity-80;
  }
  .header-container {
    @apply flex justify-end items-center gap-8 py-6;
  }
  .hero-image {
    @apply h-11 w-11 rounded-[50%];
  }

  .header-text {
    @apply text-lg font-semibold text-white hover:text-gray-500 cursor-pointer;
  }

  .container {
    @apply px-16 py-5 h-[100vh];
  }

  .intro {
    @apply flex  justify-evenly mt-0 pt-0;
  }

  .about {
    @apply flex justify-evenly;
  }

  .about-desc {
    @apply text-xl text-justify;
  }
}

@layer components {
  .button {
    @apply border-[1px] rounded-full text-lg w-48 py-3 px-6;
  }
}
