@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-gray-950 text-gray-50 min-h-screen pb-7;
  }
}

@layer utilities {
  .h1-semibold {
    @apply lg:text-3xl sm:text-lg font-semibold;
  }

  .violet-gradient-line {
    background: #804dee;
    background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%
    );
  }

  .violet-gradient {
    @apply bg-gradient-to-r from-purple-800 via-purple-700 to-purple-600;
  }

  /* Header section Css */
  .header {
    @apply w-full sticky z-40 top-0 left-0 bg-gray-900 px-16 opacity-80;
  }
  .header-container {
    @apply flex justify-end items-center gap-8 py-6;
  }

  .logo {
    animation: rotate 8s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .hero-image {
    @apply h-11 w-11 rounded-[50%];
  }

  .header-text {
    @apply text-lg font-semibold text-white hover:text-gray-500 cursor-pointer;
  }

  .container {
    @apply px-16 py-5 h-[100vh];
  }

  /* Intro Section CSS */
  .intro {
    @apply flex  justify-evenly mt-0 pt-0;
  }

  /* About Section CSS */
  .about {
    @apply flex justify-evenly;
  }

  .about-desc {
    @apply text-xl text-justify;
  }

  .parallax-container {
    @apply w-full h-screen overflow-hidden relative grid place-items-center;
  }

  /* Overlay */
  .overlay {
    @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-40 z-30;
  }

  .parallax-text {
    @apply text-center relative z-10 mb-48 w-[35%] font-semibold tracking-[0.01em];
  }

  .parallax-img-full {
    @apply absolute inset-0 z-0 w-full h-full object-cover;
  }

  .parallax-img-half {
    @apply absolute inset-0 z-20 w-full h-full object-cover;
  }

  /* Experience CSS */
  .experience-container {
    @apply flex flex-col justify-center items-center gap-16 mt-28;
  }

  .experience-card-title {
    @apply text-lg font-semibold text-[#DCDCDC];
  }
  .experience-card-desc {
    @apply text-sm font-semibold text-[#DCDCDC];
  }
}

@layer components {
  .button {
    @apply border-[1px] rounded-full text-lg w-48 py-3 px-6;
  }
}
